/home/fs-lp-45/main/visualpath-projects/javaapllicaton/fullstack-app-imagegallery/postgresql/k8s/secret.yaml
/home/fs-lp-45/main/visualpath-projects/javaapllicaton/fullstack-app-imagegallery/postgresql/k8s/public-key-cert.pem

